rules_version = '2';

// Permissões para o Firebase Storage
service firebase.storage {
  match /b/{bucket}/o {
    
    // PERMISSÕES PARA AVATARES DE USUÁRIOS
    // Permite que qualquer usuário autenticado leia o avatar de qualquer outro usuário.
    // Permite que um usuário autenticado escreva (crie, atualize, delete) apenas na sua própria pasta de avatar.
    match /avatars/{userId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    // PERMISSÕES PARA MÍDIA DA LANDING PAGE
    // Permite que qualquer pessoa (autenticada ou não) leia as imagens.
    // Apenas administradores podem escrever (upload, delete).
    match /landing-page-media/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && get(/databases/(default)/documents/users/$(request.auth.uid)).data.role == 'Administrador';
    }
  }
}
